iframe {
    height: 600px;
    width: 100%;
    border-style: solid;
    border-color: #3f3e3e;
    background-color: #3f3e3e;
}

.report-header {
    font-size: 0.84em;
    margin-bottom: 4px;
}

.btn:disabled {
    cursor: not-allowed;
}

.report-footer {
    display: none;
}

@media screen and (max-width: 389px) {
    .report-header {
        button {
            width: 100%;
            margin: 1px 0px;
        }
    }
}
