@import '../base/colors';
@import '../base/sizes';
@import '../base/typography';

nav.navbar {
    color: white;
    background-color: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 0px;
    max-height: $header-height;
    height: $header-height;
    z-index: 1001;
    padding: 0 1rem;

    .sidebar-toggle {
        font-size: 1.25rem;
        color: inherit;
        cursor: pointer;
    }

    .navbar-brand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .navbar-logo {
            height: 25px;
            width: auto;
        }

        .system-name {
            color: white;
            text-transform: uppercase;
            font-weight: 600;

            &.system-name-light {
                opacity: 0.4;
            }
        }
    }

    .nav-container-right {
        height: 100%;
        margin-right: -1rem;

        ul.nav {
            li.nav-item {
                display: flex;
                cursor: pointer;
                text-transform: uppercase;
                align-items: center;
                padding: 0 1rem;

                &:hover {
                    background-color: darken($primary-color, 5);
                }

                &.dropdown {
                    .nav-link {
                        color: white;
                    }

                    .dropdown-toggle:after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    border-radius: 0;
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-size: 1em;
                    box-shadow: rgba(0,0,0,.35) 0 2px 5px 0;

                    .dropdown-item {
                        padding: 0.8rem 1rem;
                        color: $text-color;
                        text-transform: none;
                        opacity: 0;
                        transition: background-color 0.3s, opacity 0.3s;

                        &:hover {
                            background-color: #edf0f2;
                        }
                    }

                    &.show {
                        .dropdown-item {
                            opacity: 1;
                        }
                    }

                    .dropdown-divider {
                        margin: 0;
                    }

                    &.dropdown-menu-right {
                        position: absolute;
                        right: 0;
                        left: unset;
                    }
                }
            }
        }
    }
}
